<div class="w-full h-full flex items-center justify-center text-gray-900 text-xl border border-gray-900 ">
    Do the Marketing about the industry, competitors, history, potential partners and investors. All that is freely available
</div>